<div class=" bg">
  <div class="container">
    <h2 class="text"> Assignment Details </h2><br>
    <nav class="navbar navbar-light bg-light search">
      <form class="form-inline search" #search_id ="ngForm">
        <input class="form-control mr-sm-2 find" name="search_id" type="text" placeholder="Search" required aria-label="Search" [(ngModel)]="body.id">
      </form><br>
      <form #search_subject="ngForm">
        <div class="form-group" *ngIf="subjects.length">
          <select class="form-select" style="margin-top: 40px;" required readonly aria-label="Default select example" name="subject" [(ngModel)]="body.subject">
            <option value="" selected disabled hidden >Select Subject</option>
            <option *ngFor="let subject of subjects" value={{subject._id}}>{{subject.name}} - {{ subject.grade}} ({{subject._id}})</option>
          </select>
        </div><br>
      </form>
      <button class="btn btn-outline-success my-2 my-sm-0" style="margin-left: 10px;" type="submit" (click)="onFind(search_id,search_subject)">Search</button>
    </nav>
    <br>
    <div [hidden]="!postErrorFind" class="alert alert-danger alert-class">
      {{ postErrorMessageFind }}
    </div>
    <div [hidden]="!postSuccessFind" class="alert alert-success alert-class" role="alert">
      {{ postSuccessMessageFind }}
    </div>
    <br><br>
    <form class="form-css " #form ="ngForm">
        <div class="form-group">
        <label for="id">ID</label>
          <input *ngIf="!updateTrue" type="text" class="form-control" placeholder="Example: S001-A01" required id="id" name="id" [(ngModel)]="assignmentSettings.id">
          <input *ngIf="updateTrue" type="text" class="form-control" readonly required id="id" name="id" [(ngModel)]="assignmentSettings.id">
        </div><br>
        <div class="form-group">
        <label for="title">Assignment Title</label>
          <input type="text" class="form-control" placeholder="Example: Assignment 01" required id="title" name="title" [(ngModel)]="assignmentSettings.title">
        </div><br>
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" placeholder="Example: This Assignment is on ...." required id="description" name="description" [(ngModel)]="assignmentSettings.description">
        </div><br>
        <div class="form-group" [hidden]="updateTrue" *ngIf="subjects.length">
          <label for="grade">Subject</label>
          <select class="form-select" required readonly aria-label="Default select example" name="grade" [(ngModel)]="assignmentSettings.subject">
            <option value="" selected hidden disabled>Select Subject</option>
            <option *ngFor="let subject of subjects" value={{subject._id}}>{{subject.name}} - {{ subject.grade}} ({{subject._id}})</option>
          </select>
        </div><br>
        <div class="form-group">
          <label for="file">Upload Files</label>
          <input type="file" #multipleInput multiple='multiple' class="form-control" required id="file" name="file" (change)="selectMultipleImage($event)"><br>
          <button class="btn btn-primary button-custom" (click)="uploadCreate()">
            Save Files
          </button>
        </div>

        <div [hidden]="!postError" class="alert alert-danger alert-class">
          {{ postErrorMessage }}
        </div>
        <div [hidden]="!postSuccess" class="alert alert-success alert-class" role="alert">
          {{ postSuccessMessage }}
        </div>

        <button *ngIf="!onTrue" class="btn btn-primary button-custom" (click)="onSubmit(form)">
          Create Assignment
        </button>
        <div class="other-btns">
          <button *ngIf="onTrue" class="btn btn-primary button-custom" (click)="onUpdate(form)">
            Update Assignment
          </button><br>
          <button *ngIf="onTrue" class="btn btn-primary button-custom " (click)="onDelete(form)">
            Delete Assignment &nbsp;
          </button>
        </div>
    </form><br><br><br>
  </div>
  </div>

