.bg {
  background-color: #101820FF;
  top: 0;
}

.container-class {
  height: 1100px;
  padding-top: 80px;
}

.name {
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
  font-style: italic;
}

