.bg {
  background-color: #101820FF;
  margin: 0;
  padding: 20px;
  overflow:hidden;
  z-index: 90;
}

.margin-class {
  margin-top: 5px;
}

.container-class {
  padding-top: 80px;
  padding-bottom: 50px;
}

.name {
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
  font-style: italic;
}


.fit-class {
  height: 100vw;
}


.error-class {
  margin: auto;
  min-width: 400px;
  max-width: 530px;
  text-align: center;
}
