.bg {
  background-color: #101820FF;
  margin-top: 20px;
  padding: 20px;
  overflow:hidden;
  z-index: 90;
}

.margin-class {
  margin-top: 5px;
}

.imagelow {
  margin: auto;
}

.container-class {
  padding-bottom: 10px;
}

.name {
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
  font-style: italic;
}


.fit-class {
  height: 100vw;
}


.error-class {
  margin: auto;
  min-width: 400px;
  max-width: 530px;
  text-align: center;
}

@media (max-width:600px) {
  .imagelow {
    margin: auto;
    width: 400px;
  }

  .container-class {
    padding-bottom: 1px;
  }

}
