<div class="wrapper" style="text-align: center; margin-top: 90px;">
  <h1 style="margin-top: 50px; font-size: 40px;"><strong>Ooops!!</strong> </h1>
  <p style="font-size: 20px;"><strong style="font-size: 25px;">Something Went Wrong With the Server. Try Again Later!</strong><br><br> Please try visiting <strong>Home Page</strong> or <strong>Log in Again.</strong> If the issue persists contact support!</p>
  <button class="btn btn-primary button-custom" style="margin-top: 20px; margin-bottom: 10px;" (click)="backHome()">Back To Home</button><br>
  <button class="btn btn-primary button-custom" style="margin-bottom: 20px;" (click)="backLogin()">Re-Login</button>
</div>

