<div class="parent-container">
  <div id="container-new">
    <header *ngIf="isUser">
      <nav class="navbar bg-dark">
        <div>
          <a class="navbar-brand" href="#">
            <img src="https://cmc-dle-backend.onrender.com/Files/_brainstorm-icon.png" width="250" alt="">
          </a>
        </div>
        <a style="margin-top: 18px;" class="toggle-button" (click)="clickEvent()">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>

        <div class="navbar-links" [ngClass]="{'active': isShowDiv}">
          <ul>
            <li *ngIf="isUser" routerLink="/home" routerLinkActive="active-link no-hover" [routerLinkActiveOptions]="{exact:true}"><a>Home</a></li>
            <li *ngIf="(Type == 'student')" routerLink="/dashboard" routerLinkActive="active-link no-hover" [routerLinkActiveOptions]="{exact:true}"><a>Dashboard</a></li>
            <li *ngIf="(Type == 'staff')" routerLink="/register/student" routerLinkActive="active-link no-hover" [routerLinkActiveOptions]="{exact:true}"><a>Students</a></li>
            <li *ngIf="(Type == 'staff')" routerLink="/register/subject" routerLinkActive="active-link no-hover" [routerLinkActiveOptions]="{exact:true}"><a>Subject</a></li>
            <li *ngIf="(Type == 'admin')" routerLink="/register/employee" routerLinkActive="active-link no-hover" [routerLinkActiveOptions]="{exact:true}"><a>Employee</a></li>
            <li *ngIf="(Type == 'lecturer')" routerLink="/assignment" routerLinkActive="active-link no-hover" [routerLinkActiveOptions]="{exact:true}"><a>Assignments</a></li>
            <li *ngIf="(Type == 'student') || (Type == 'staff')" routerLink="/room" routerLinkActive="active-link no-hover" [routerLinkActiveOptions]="{exact:true}"><a>Live Chat</a></li>
            <li *ngIf="isUser" routerLink="/profile" routerLinkActive="active-link no-hover" [routerLinkActiveOptions]="{exact:true}"><a>Profile</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <main class="main-content">
      <router-outlet></router-outlet>
    </main>

    <footer *ngIf="isUser">
        <div class=”footer-content”>
          <h3>Brainstorm Education</h3>
          <p class="footer-p">Better than a thousand days of diligent study is one day with a great teacher</p>
          <div *ngIf="Type != ''">
            <a class="link link-logout"  routerLink="/login" (click)="logOut()">Logout</a>
          </div>
        </div>
        <br>

      <div class=”footer-bottom”>
        <p>copyright &copy;2023 <a href=”#”></a>  </p>
      </div>
    </footer>
  </div>
</div>

