<nav class="navbar-custom bg-dark">
  <div class="brand-title">Brand Name</div>
  <a style="margin-top: 12px;" href="#" class="toggle-button" (click)="clickEvent()">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </a>

  <div class="navbar-links" [ngClass]="{'active': isShowDiv}">
    <ul>
      <li><a class="active-page" >Home</a></li>
      <li><a class="item" >Dashboard</a></li>
      <li><a class="item" >Students</a></li>
      <li><a class="item" >Modules</a></li>
      <li><a class="item" >Lecturers</a></li>
      <li><a class="item" >Announcements</a></li>
      <li><a class="item" >Staff</a></li>
    </ul>
  </div>
</nav>
<app-student-registration></app-student-registration>

<footer>
  <div class=”footer-content”>
    <h3>Brainstorm Academy</h3>
    <p class="footer-p">Better than a thousand days of diligent study is one day with a great teacher.</p>
    <div>
      <a href="#" class="link" >Logout</a>
    </div>
  </div>
  <br>

<div class=”footer-bottom”>
  <p>copyright &copy;2023 <a href=”#”></a>  </p>
</div>

</footer>
