<div class="container rounded bg-white mt-5 mb-5 border-right border-left">
  <div class="row">
    <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
      <span class="font-weight-bold">{{ userSettings.name }}</span>
      <span class="text-black-50">{{ userSettings.email }} </span>
      <span> </span>
    </div>
    <form #form="ngForm">
      <div class="col-md-5" style="margin: auto;">
        <div class="p-3 py-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h4 class="text-right">Profile Settings</h4>
            </div>
            <div class="row mt-3">
              <div class="col-md-12"><label class="labels">ID</label><input type="text" required readonly class="form-control" name="ID" [(ngModel)]="userSettings._id"></div>
          </div>
            <div class="row mt-2">
                <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" readonly required name="name" [(ngModel)]="userSettings.name"></div>
                <div class="col-md-6"><label class="labels">Email</label><input type="email" class="form-control" readonly required name="email" [(ngModel)]="userSettings.email"></div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12"><label class="labels">Address</label><input type="text" class="form-control" readonly required name="address" [(ngModel)]="userSettings.address"></div>
                <div class="col-md-12"><label class="labels">Landline</label><input type="text" class="form-control" readonly required name="landline" [(ngModel)]="userSettings.landline_no"></div>
                <div class="col-md-12"><label class="labels">Mobile</label><input type="text" class="form-control" required name="mobile_no" [(ngModel)]="userSettings.mobile_no"></div>
                <div style="margin-top: 20px;">
                  <div [hidden]="!postError" class="alert alert-danger alert-class">
                    {{ postErrorMessage }}
                  </div>
                  <div [hidden]="!postSuccess" class="alert alert-success alert-class" role="alert">
                    {{ postSuccessMessage }}
                  </div>
                </div>

            <div class="mt-5 text-center"><button class="btn btn-primary button-custom" type="button" (click)="onUpdate(form)">Save Profile</button></div>
            </div>
        </div>
      </div>
    </form>
  </div>
</div>
