<div class=" bg">
<div class="container">
  <h2 class="text"> Registration </h2>
  <nav class="navbar navbar-light bg-light search">
    <form class="form-inline search">
      <input class="form-control mr-sm-2 find" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
  <br>
  <div [hidden]="postError" class="alert alert-danger err">
    {{ postErrorMessage }}
  </div>
  <br><br>
  <form class="form-css" #form ="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="form-group">
      <label for="name">Name</label>
        <input type="text" class="form-control" required id="name" name="name" [(ngModel)]="studentSettings.name">
      </div><br>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="studentSettings.email">
      </div><br>
      <div class="form-group">
        <label for="nic">NIC</label>
        <input type="text" class="form-control" id="nic" name="nic" [(ngModel)]="studentSettings.nic">
      </div><br>
      <div class="form-group">
        <label for="dob">Date of Birth</label>
        <input type="date" class="form-control" id="dob" name="dob" [(ngModel)]="dob">
      </div><br>
      <div class="form-group">
        <label for="mobile_no">Mobile</label>
        <input type="text" class="form-control" id="mobile_no" name="mobile_no" [(ngModel)]="studentSettings.mobile_no">
      </div><br>
      <div class="form-group">
        <label for="grade">Grade</label>
        <input type="text" class="form-control" id="grade" name="grade" [(ngModel)]="studentSettings.grade">
      </div><br>
      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" class="form-control" id="address" name="address" [(ngModel)]="studentSettings.address">
      </div><br>

      <div class="form-group">
      <label for="parent_name">Parent Name</label>
        <input type="text" class="form-control" id="parent_name" name="parent_name" [(ngModel)]="studentSettings.parent_name">
      </div><br>
      <div class="form-group">
        <label for="parent_no">Parent Mobile</label>
        <input type="text" class="form-control" id="parent_no" name="parent_no" [(ngModel)]="studentSettings.parent_no">
      </div><br>
      <div class="form-group">
        <label for="landline_no">Landline</label>
        <input type="text" class="form-control" id="landline_no" name="landline_no" [(ngModel)]="studentSettings.landline_no">
      </div><br>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="studentSettings.password">
      </div><br>
      <div class="form-group">
        <label for="password2">Retype Password</label>
        <input type="password" class="form-control" id="password2" name="password2" [(ngModel)]="password2">
      </div><br>

      <div [hidden]="!postError" class="alert alert-danger err">
        {{ postErrorMessage }}
      </div>

      <button class="btn btn-primary button-custom">
        Send
      </button><br>
  </form>
</div>
</div>
