.bg {
  background-color: white;
  margin-top: 6%;
  margin-bottom: 6%;
}

.find {
  margin-right: 30px;
}

.err {
  text-align: center;
}

.form-css {
  width: 80%;
  margin:auto;
  max-width: 500px;
}

.text {
  text-align: center;
}

.button-custom {
  width: auto;
  margin-top: 10px;
  padding : 10px 50px;
}

.search {
  display: flex;
  justify-content: center;
}


@media (max-width: 800px) {
  .bg {
    margin-top: 15%;
    margin-bottom: 15%;
  }
}
