.cont {
  margin-top: 30pxx;
  display: grid;
  grid-template-rows: auto;
  column-gap: 20px;
  row-gap: 40px;
  margin: auto;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  grid-template-columns: auto 1fr 1fr 1fr;
  max-width: 300px;
  overflow-wrap: normal;
  min-height: 800px;
}

.content-top {
  margin-top: 40px;
  text-align: center;
}

.card-links {
  color: black;
}

.card-links :hover{
  text-decoration: underline;
}

a {
  text-decoration: none;
}

@media (max-width: 1250px) {
  .cont {
    grid-template-columns: auto 1fr 1fr;
  }
}

@media (max-width: 940px) {
  .cont {
    grid-template-columns: auto 1fr;
    margin-bottom: 40px;
  }

  .content-top {
    margin-bottom: 30px;
  }
}

@media (max-width: 650px) {
  .cont {
    grid-template-columns: 1fr;
  }
}
