
<div class="content-top">
  <h3>Dashboard</h3>
</div>
<!-- <div *ngIf="list.length">
  <div *ngFor="let item of list">
    <div class="cont">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">{{ item.description}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div *ngIf="list.length">
  <div class="cont">
    <div *ngFor="let item of list">
      <div class="card" style="width: 18rem;">
        <div style="display: flex;">
          <img src="https://cdn-icons-png.flaticon.com/512/6522/6522516.png" style="height: 200px; width: auto; margin: auto;" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">{{item.description}}</p>
          <a [routerLink]="['/subject', item._id ]" class="btn btn-primary">Go somewhere - {{item._id}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
