
<div class="content-top">
  <h3 style="font-weight: 600; font-style: italic; text-shadow: 19px;">Overview</h3>
</div>

<div *ngIf="list.length">
  <div class="cont">
    <div *ngFor="let item of list">
      <a [routerLink]="['/dashboard', item._id ]">
        <div class="card card-links" style="width: 18rem;">
          <div style="display: flex; font-weight: 500;">
            <img src="http://localhost:5500/Files/_subject.jpeg" style="width: 100%; margin: auto;" class="card-img-top" alt="...">
          </div>
          <div class="card-body" style="font-weight: 200;">
            <h5 class="card-title" style="border: none;">{{ item._id }} - {{ item.name }} </h5>
            <p class="card-text" style="border: none;">Grade {{item.grade}}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
